<div class="border-1 border-gray-100 p-6 bg-white rounded-2xl">
  <div class="flex flex-wrap justify-start gap-6">
    <button
      *ngFor="let widget of widgets"
      (click)="widgetClick(widget.name)"
      class="flex cursor-pointer flex-col items-center transition-opacity hover:opacity-70"
    >
      <div class="mb-3 flex h-12 w-12 items-center justify-center rounded-xl bg-gray-200 shadow-sm">
        <mat-icon class="text-lg !text-gray-700">{{ widget.icon }}</mat-icon>
      </div>
      <span class="text-center text-xs text-gray-700">{{ widget.name }}</span>
    </button>
  </div>
</div>
