@import 'tailwindcss';

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
}

@layer components {
  /* Angular Material Overrides */
  .mdc-notched-outline__notch {
    border-right: none;
  }
}
